<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{dd MMM yyyy hh:mm:ss,SSS a} [%t] %level %logger{36} %msg%n"/>
        </Console>
        <RollingFile
                name="roller"
                fileName="logs/app.log"
                filePattern="logs/app-%i.log">
            <PatternLayout>
                <Pattern>%d{dd MMM yyyy hh:mm:ss,SSS a} [%t] %level %logger{36} %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="2000 KB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="console"/>
            <AppenderRef ref="roller"/>
        </Root>
    </Loggers>
</Configuration>